.tap {
   border-left: 1px solid #eee;
   border-right: 1px solid #eee;
}

.label-outer {
  width:50px;
  height: 130px;
  position: absolute;
  display: inline-block;
  left: -50px;
}

.label-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #999;
}

.rotate-cw {
  -moz-transform: translateX(-50%) translateY(-50%) rotate(90deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(90deg);
  transform:  translateX(-50%) translateY(-50%) rotate(90deg);
}

.beer-label {
   width: 130px;
   height: 130px;
   border-radius: 50%;
   background: #ffffff;
}

.beer-detail {
  height: 130px;
}

.absolute-bottom {
  position: absolute;
  bottom: 0;
}

.beer-specs {
  border-left: 1px dotted #000;
  height: 130px;
}

.page-header {
  margin-top: 20px;
}

@media (max-width: 767px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 22px;
  }

  h4 {
    font-size: 16px;
  }

  .beer-label {
     width: 100%;
     min-width: 20px;
     height: 130px;
     border-radius: 0%;
     background: #ffffff;
  }

  .label-outer {
    width: auto;
    height: 130px;
    position: relative;;
    display: inline-block;
    left: 0;
  }
}
