<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - Taplist</title>

    <link href="{{ url_for('static', filename='css/lib/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/taplist.css') }}" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/numeral.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/ebctohex.js') }}"></script>
  </head>
  <body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#hamburger-content" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Taplist</a>
        </div>

        <div class="collapse navbar-collapse" id="hamburger-content">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Locations <span class="sr-only">(current)</span></a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Change location <span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% for l in all_locations %}
                  <li><a href="{{ url_for('view_location', id=l.id)}}">{{l.name}}</a></li>
                {% endfor %}
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  {% if current_user.is_admin %}
                  <li><a href="{{ url_for('add_location') }}">Add a location</a></li>
                  <li><a href="#"><i>Add a person</i></a></li>
                  <li role="separator" class="divider"></li>
                  {% endif %}
                  {% if current_user.is_admin or current_user.is_manager %}
                  <li><a href="{{ url_for('manage_taps', id=1) }}">Manage taps</a></li>
                  <li><a href="#"><i>Manage location</i></a></li>
                  <li role="separator" class="divider"></li>
                  {% endif %}
                  {% if current_user.is_admin or current_user.is_brewer %}
                  <li><a href="#"><i>Manage beers</i></a></li>
                  <li><a href="#"><i>Manage brewery</i></a></li>
                  <li role="separator" class="divider"></li>
                  {% endif %}
                  <li><a href="{{ url_for('edit_profile', id=current_user.id) }}">Edit profile</a></li>
                </ul>
              </li>
              <li>
                <button type="button" name="logout" class="btn btn-default navbar-btn" href="{{url_for('logout')}}">Log out</button>
              </li>
            {% else %}
              <li>
                <button type="button" name="login" class="btn btn-default navbar-btn" href="{{url_for('login')}}">Log in</button>
              </li>
            {% endif %}
          </ul>

        </div>
      </div>

    </nav>

    <div class="container">

      {% block body %}
      {% endblock %}

    </div>

    <script src="{{ url_for('static', filename='js/lib/jquery-3.2.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/bootstrap.min.js') }}"></script>
    <script type="text/javascript">
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe}};

      $('button[name="login"]').on('click', function() {
        window.location.href = "{{url_for('login')}}";
      });

      $('button[name="logout"]').on('click', function() {
        window.location.href = "{{url_for('logout')}}";
      });
    </script>
    {% block endbody %}
    {% endblock %}
  </body>
</html>
