
{% extends "layout.html" %}

{% block body %}
  <h1>Login</h1>
  <form action="" method="post" name="login">
    {{ form.hidden_tag() }}
    <p>
      <label for="email">
        Email
          {{ form.email(size=80, class_="form-control") }}
          {% for error in form.email.errors %}
            <span style="color: #f33;">[{{ error }}]</span>
          {% endfor %}
      </label>
    </p>
    <p>
      <label for="password">
        Password
          {{ form.password(size=80, class_="form-control") }}
          {% for error in form.password.errors %}
            <span style="color: #f33;">[{{ error }}]</span>
          {% endfor %}
      </label>
    </p>
    <p>
      <a href="{{ url_for('index') }}">Cancel</a> |
      {{ form.submit(class_="btn btn-primary") }}
    </p>
  </form>
{% endblock %}
