{% extends "layout.html" %}
{% block body %}

<div class="page-header">
  <div class="btn-toolbar pull-right">
    <div class="btn-group" role="group" aria-label="tap actions">
      <button type="button" class="btn btn-default"  data-toggle="modal" data-target="#new-tap-modal" name="new_tap">Add tap...</button>

      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Remove tap
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          {% for t in taps|sort(attribute='id') %}
            <li><a href="{{ url_for('delete_tap', loc_id = t.location.id, tap_id=t.id) }}">{{ t.label }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <h1>Manage taps at {{ location.name }}</h1>
</div>

<div class="row">
  <div class="col-xs-10 col-xs-offset-1">

    {% for tap in taps|sort(attribute='id') %}
    <div class="row tap">
      <div class="col-xs-2">
          <p>{{tap.label}}</p>
      </div>

    {% if tap.beer %}
      <div class="col-xs-6" id="border_tap{{tap.id}}">
        <h4>{{tap.beer.name}} ({{tap.beer.style}})</h4>
        <h4>{{tap.beer.brewery.name}}</h4>
        <h5>{{tap.beer.abv}}%</h5>
      </div>
      <div class="col-xs-4">
        <button type="button" name="clear_tap" class="btn btn-default" data-tap-id="{{tap.id}}">Clear tap</button>
      </div>
      {% else %}
      <div class="col-xs-6"></div>
      <div class="col-xs-4">
        <button type="button" name="tap_keg" class="btn btn-default" data-toggle="modal" data-target="#tap-keg-modal" data-tap-id="{{tap.id}}">Tap a keg</button>
      </div>
      {% endif %}
    </div>

    <hr>

    {% endfor %}

  </div>
</div>

<div class="modal fade" id="tap-keg-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <form action="" method="post" name="manage_taps">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Tap a keg</h4>
        </div>
        <div class="modal-body">
          {{ keg_form.hidden_tag() }}
          <p>
            <label for="brewery">
              Brewery
                {{ keg_form.brewery(class_="form-control") }}
            </label>
          </p>

          <p>
            <label for="beer">
              Beer
                {{ keg_form.beer(class_="form-control", disabled=true) }}
            </label>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          {{ keg_form.tap_keg(class_="btn btn-primary") }}
        </div>
      </div>
    </form>
  </div>
</div>

<div class="modal fade" id="new-tap-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <form action="" method="post" name="new_tap">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Add a tap</h4>
        </div>
        <div class="modal-body">
          {{ new_tap_form.hidden_tag() }}
          <p>
            <label for="label">
              Label
                {{ new_tap_form.label(class_="form-control") }}
            </label>
          </p>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          {{ new_tap_form.add_tap(class_="btn btn-primary") }}
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block endbody %}
<script type="text/javascript">
{% for tap in taps %}
  $("#border_tap{{tap.id}}").css("border-left","3px solid "+get_hex_from_ebc({{tap.beer.colour}}));
{% endfor %}

$("button[name='clear_tap']").on('click', function() {
  window.location.href = $SCRIPT_ROOT + "/tap/" + $(this).data("tap-id") + "/clear";
});

$("button[name='tap_keg']").on('click', function() {
  $("#tap_id").val($(this).data("tap-id"));
  $("form[name='manage_taps']").attr("action", $SCRIPT_ROOT + "/tap/" + $(this).data("tap-id") + "/set");
});

$("button[name='new_tap']").on('click', function() {
  $("#location_id").val({{ location.id }});
  $("form[name='new_tap']").attr("action", $SCRIPT_ROOT + "/location/" + {{ location.id }} + "/tap/new");
});

$("select#brewery").on('change', function() {
  if (isNaN($(this).val())) {
    $("#beer").empty();
    $("#beer").append(
      $("<option></option>").attr(
        "value", 0).text("Choose a brewery before choosing a beer")
    );
    $("#beer").prop("disabled", true);
    return false;
  }

  $.getJSON($SCRIPT_ROOT + '/brewery/' + $("select[name='brewery']").val() + '/beers.json',
    {},
    function(data) {
      $("#beer").empty();
      for (i = 0; i < data.length; i++) {
        $("#beer").append(
          $("<option></option>").attr(
            "value", data[i][0]).text(data[i][1])
        );
      }
    });
    $("#beer").prop("disabled", false)
    return false;
});
</script>
{% endblock %}
