
{% extends "layout.html" %}
{% block body %}

  <div class="page-header">
    <h1>Add brewery</h1>
  </div>

  <form action="" method="post" name="new_brewery">
    {{ form.hidden_tag() }}
    <div class="form-group{% if form.name.errors %} has-error{% endif %}">
      <label class="control-label" for="name">
        Brewery name
          {{ form.name(size=80, class_="form-control") }}
          {% for error in form.name.errors %}
            <span class="help-block">&gt; {{ error }}</span>
          {% endfor %}
      </label>
    </div>
    <div class="form-group{% if form.address.errors %} has-error{% endif %}">
      <label class="control-label" for="address">
        Brewery address
          {{ form.address(size=80, class_="form-control") }}
          {% for error in form.address.errors %}
            <span class="help-block">&gt; {{ error }}</span>
          {% endfor %}
      </label>
    </div>
    <div>
      <a href="{{ url_for('index') }}" class="btn btn-default">Cancel</a>
      {{ form.add_brewery(class_="btn btn-primary") }}
    </div>
  </form>
{% endblock %}
