{% extends "layout.html" %}
{% block body %}

<div class="page-header">
  <h1>On tap at {{location.name}}
    {% if not request.args.get('fs') == '1' %}
      <a href="{{ url_for('view_location', id=location.id, fs=1) }}" class="btn btn-default pull-right">Hide header</a></h1>
    {% endif %}
</div>

<div class="row">
  <div class="col-xs-10 col-xs-offset-1">

    {% for tap in location.taps|sort(attribute='id') %}
    <div class="row tap">
      <div class="col-xs-2">
        <div class="label-outer">
          <p class="label-inner rotate-cw">{{tap.label}}</p>
        </div>
        {% if tap.beer %}
        <div class="beer-label" id="label_tap{{tap.id}}"></div>
        {% endif %}
      </div>


      {% if tap.beer %}
      <div class="col-xs-8 beer-detail">
        <h2>{{tap.beer.name}}</h2>
        <h4>{{tap.beer.style}}</h4>
        <h4 class="absolute-bottom">{{tap.beer.brewery.name}}</h4>
      </div>

      <div class="col-xs-2 beer-specs">
        <h3 class="text-center">{{tap.beer.abv}}%</h3>
        <div class="absolute-bottom">
          {% if tap.price_pint > 0 %}
          <h4><img src="{{ url_for('static', filename='img/noun_27669_cc.svg') }}" alt="Pint" width="40px" height="40px">{{numeraljs(tap.price_pint).currency()}}</h4>
          {% endif %}
          {% if tap.price_tulip > 0 %}
          <h4><img src="{{ url_for('static', filename='img/noun_27670_cc.svg') }}" alt="Tulip" width="40px" height="40px">{{numeraljs(tap.price_tulip).currency()}}</h4>
          {% endif %}
        </div>
      </div>
      {% else %}
      <div class="col-xs-10 beer-detail"></div>
      {% endif %}
    </div>

    <hr>

    {% endfor %}

  </div>
</div>
{% endblock %}
{% block endbody %}
<script type="text/javascript">
{% for tap in location.taps %}
  var beer_colour = get_hex_from_ebc({{tap.beer.colour}});
  $("#label_tap{{tap.id}}").css({
    "background": "-moz-linear-gradient(top, #ffffff 0%, " + beer_colour + " 100%)",
    "background": "-webkit-linear-gradient(top, #ffffff 0%, " + beer_colour + " 100%)",
    "background": "linear-gradient(to bottom, #ffffff 0%, " + beer_colour + " 100%)",
    "filter": "progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='" + beer_colour + "',GradientType=0)"
  });
{% endfor %}

{% if request.args.get('fs') == '1' %}
$(document).on('keyup', function(event) {
  if (event.keyCode === 27) {
    url = window.location.href.split("?")[0]
    window.location.href = url;
  }
});
{% endif %}
</script>
{% endblock %}
